<header>
    <div class="cabecera row">
        <div class="col-12 col-sm-6 font-italic mt-2"><h1><label class="titulo colortitulo1">Brain</label><label class="titulo colortitulo2">-learning</label></h1></div>
        <div class="col-12 col-sm-6 row d-flex flex-row-reverse">   
            <div class="col-2 mt-3"><img class="imagen_titulo m-1" src="assets/imagenes/twitter.png" alt=""></div>
            <div class="col-2 mt-3"><img class="imagen_titulo m-1" src="assets/imagenes/facebook.png" alt=""></div>
            <div class="col-2 mt-3"><img class="imagen_titulo m-1" src="assets/imagenes/instagram.png" alt=""></div>
        </div> 
    </div>
</header>

<nav class="navbar-expand-md navbar-light menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li>
          <a routerLink="/home" routerLinkActive="active" class="nav-link" href="">Home</a>
        </li>
        <li>
          <a routerLink="/cursos" routerLinkActive="active" class="nav-link" href="">Cursos</a>
        </li>
        <li>
          <a routerLink="/inscritos" routerLinkActive="active" class="nav-link" href="">Inscritos</a>
        </li>
        <li>
          <a routerLink="/formulario" routerLinkActive="active" class="nav-link" href="">Formulario</a>
        </li>
      </ul>
    </div>
  </nav>


